a.nav-link.active{
    color: black;
}

aside.sidebar{
    background-color:#e6e6e6;
    box-sizing:border-box;
    width: 220px;
    height: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;

 
}
.heading-primary{
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: inherit;
}
/* ---- input ---- */

.input-group {
    position: relative;
    display: flex;
 
  }
  ul.breadcrumb{
    background-color:#e6e6e6;

  }
  input[type="text"] {
    background-color:#e6e6e6;
  }
  
  .selected{
      font-size: 11px;

  }
  div.thumbnail{
  width: 50%;
  
     
  }
  